<%- include("layouts/header") -%>
<form action="/updateuser" method="POST"
  class="flex flex-col gap-y-4 max-w-lg mx-auto px-8 mt-8">
  <input type="hidden" name="id" value="<%=user.id %>">  
  <label for="firstname" class="w-full">
    <p class="mb-1">First name</p>
    <input class="input input-bordered w-full" type="text" placeholder="firstname" name="firstname" id="firstname" value="<%= user.firstname %>" required>  
  </label>
  <label for="lastname">
    <p class="mb-1">Last name</p>
    <input class="input input-bordered w-full" type="text" placeholder="lastname" name="lastname" id="lastname" value="<%= user.lastname %>" required>  
  </label>
  <label for="email">
    <p class="mb-1">Email</p>
    <input class="input input-bordered w-full" type="email" placeholder="Email" name="email" id="email" value="<%= user.email %>" required>
  </label>
    
    <button class="btn btn-primary" type="submit">Update</button>
    <a id="cancel" class="btn">Cancel</a>
</form>
<script src="/js/continue.js"></script>
<%- include("layouts/footer") -%>
<!-- <%- include("layouts/header") -%>
    <form action="/updateuser" method="POST"> 
        class="flex flex-col gap-y-4 max-w-lg mx-auto px-8 mt-8">
        <label for="firstname" class="w-full">
            <p class="mb-1">First name</p>
            <input class="input input-bordered w-full" type="text" placeholder="Juan" id="firstname" name="firstname" value="<%=user.firstname %>" required >  
        </label>  
        <label for="lastname" class="w-full">
            <p class="mb-1">Last name</p>
            <input class="input input-bordered w-full" type="text" placeholder="dela Cruz" id="lastname" name="lastname" value="<%=user.lastname %>" required >  
        </label>  
        <label for="email" class="w-full">
            <p class="mb-1">Email</p>
            <input class="input input-bordered w-full" type="email" placeholder="jdelacruz@example.com" id="email" name="email" value="<%=user.email %>" required >  
        </label>  
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
<%- include("layouts/footer") -%> -->