<%- include("layouts/header") -%>
<script>
  const totalPages = parseInt("<%= totalPages %>")
</script>

<div class="container flex flex-wrap items-center px-8 mx-auto gap-8 mt-8 mb-4">
  <hr class="hidden btn-sm">
  <h1 class="font-bold">Total users: <%= totalUsers %></h1>
  <div class="flex justify-center items-center gap-2">
    <p class="font-bold">Style</p>
    <div class="join">
      <a href="<%= links.relaxedBtn %>"
        id="relaxedViewBtn"
        data-dynamic-btn
        class="btn btn-md join-item capitalize">Relaxed</a>
  
      <a href="<%= links.condensedBtn %>"
        id="condensedViewBtn"
        data-dynamic-btn
        class="btn btn-md join-item capitalize">Condensed</a>
    </div>
  </div>
  <div class="flex justify-center items-center gap-2">
    <p class="font-bold">Items/page</p>
    <div class="join">
      <a href="<%= links.limit10Btn %>"
        id="limit10Btn"
        data-dynamic-btn
        class="btn btn-md join-item">10</a>
  
      <a href="<%= links.limit25Btn %>"
        id="limit25Btn"
        data-dynamic-btn
        class="btn btn-md join-item">25</a>
  
      <a href="<%= links.limit50Btn %>"
        id="limit50Btn"
        data-dynamic-btn
        class="btn btn-md join-item">50</a>
      </div>
  </div>
  <input type="text" id="searchInput" placeholder="Search" class="input input-bordered w-full max-w-xs" />
</div>

<div class="container px-8 mx-auto mb-8">
  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="userTableContents">
        <% userList.forEach((user) => { %>
          <tr class="user-row hover transition duration-150">
            <th><%= user.id %></th>
            <td><%= user.firstname %></td>
            <td><%= user.lastname %></td>
            <td><%= user.email %></td>
          
            <td class="flex join transition duration-150 opacity-0">
              <a href="/edituser/<%=user.id%>" role="button" aria-label="edit" data-return-from data-dynamic-btn class="hover-show join-item btn btn-primary text-primary-content capitalize"><i class="fa-regular fa-pen-to-square"></i></a>
              <a href="/deleteuser/<%=user.id%>" role="button" aria-label="delete" data-return-from data-dynamic-btn class="hover-show join-item btn btn-error text-error-content capitalize"><i class="fa-solid fa-trash"></i></a>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
</div>

<div id="pagesLinks" class="join flex flex-wrap justify-center gap-y-2 mx-auto mb-4">
  <% if (links.paginationLinks.length === 1) { %>
    <a href="<%= links.paginationLinks[0] %>" data-dynamic-btn class="btn btn-primary text-primary-content">
      1
    </a>
  <% } else { %>
    <% links.paginationLinks.forEach((link, index) => { %>
      <a href="<%= link %>" data-dynamic-btn class="btn join-item <% if (index === currentPage - 1) { %>btn-primary text-primary-content<% } %>">
        <%= index + 1 %>
      </a>
    <% }) %>
  <% } %>
</div>

<div class="fixed bottom-0 right-0 mb-8 mr-8">
  <a href="/insertuser" data-return-from data-dynamic-btn class="btn capitalize"><i class="fa-solid fa-user-plus"></i>Create user</a>
</div>

<script src="
https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js
"></script>
<script src="/js/userlist.js"></script>
<%- include("layouts/footer") -%>